.idea
/build
public/media
public/static/admin
public/static/django_extensions
*.pyc
/.pydevproject
/.project
.settings/*
_ENVIRONMENT.py
settings_local.py
sphinx.conf
nohup.out
.tags
.tags_sorted_by_file